.PrimaryButton__button___2SpZs {
    width: 100%;
    background-color: #ff6f61;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 12px;
  }


  .LandingPage__wrapper___2mxOA {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
  }
  .LandingPage__features___3O4kS {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 300px;
    background-color: #fff;
    padding: 2% 4%;
  }
  .LandingPage__features___3O4kS .LandingPage__feature___1ExkC {
    display: flex;
    flex: 1;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    vertical-align: flex-start;
    padding: 2%;
    width: 100%;
  }
  .LandingPage__faq-wrapper___1e15J {
    font-size: 10px;
    text-align: center;
    padding: 0 20em;
    background-color: #fff;
  }
  .LandingPage__div-heading___ERC4_ {
    display: inline-block;
    font-size: 30px;
    color: #9e9e9e;
    margin: 70px 10px;
  }
  .rapper___30wzp {
    padding-bottom: 5em;
  }
  .FAQ__wrapper___5yZTI {
    width: 100%;
    font-size: 12px;
  }
  .FAQ__answer-div___7ZjVH {
    padding: 10px 0 20px;
    font-size: 18px;
  }
  .LandingPage__join_us_wrapper___2DKaM {
    display: flex;
    font-size: 10px;
    padding: 6em 20em;
    background-color: #fbfafa;
  }
  .rapper___2DKaM .LandingPage__image___1aIIW {
    flex: 1;
    text-align: center;
  }
  .LandingPage__join_us_wrapper___2DKaM .LandingPage__text___1rYkw {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
  .LandingPage__join_us_wrapper___2DKaM .LandingPage__text___1rYkw .LandingPage__heading___2FXrb {
    font-size: 26px;
  }
  .LandingPage__join_us_wrapper___2DKaM .LandingPage__text___1rYkw .LandingPage__desc___uA8nC {
    color: #9e9e9e;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0 20px;
    width: 60%;
  }
  .LandingPage__join_us_wrapper___2DKaM {
    display: flex;
    font-size: 10px;
    padding: 6em 20em;
    background-color: #fbfafa;
  }

  .l1SemiBold {
    font-size: 2.14286rem;
    font-weight: 600;
    line-height: 1.5;
  }
  .l3Regular {
    font-size: 1.42857rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .textSecondary {
    color: #767676;
  }
  
  .PageTitleLanding__flexGap___IOaZ3 {
    grid-gap: 24px;
    gap: 24px;
  }
  