@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* global container-fluid */
.container-fluid {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}

.widget-container {
  padding-top: 12px;
  padding-bottom: 24px;
}
.GenericSaltStyle__col___2Maef {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}